<% include ../partials/header %>
<h1><%=tweet.name%></h1>

<h3><%=tweet.str%></h3>

<p>
    <a class="btn btn-success" href="/tweets/<%= tweet._id %>/retweets/new">Add New Retweet</a>
</p>

<% tweet.retweets.forEach(function(retweet){ %>
    <p>
        <strong><%= retweet.author %></strong> - <%= retweet.text %>
    </p>
<% }) %>
<% include ../partials/footer %>